<%= form_with model: @bug, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@bug.errors.count, "error") %> prohibited
        this bug from being saved:
      </h2>
      <ul>
        <% @bug.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true,class:"form-control", placeholder:"title", autocomplete: "title" %>
  </div>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
