<% if current_user.role=='qa' %>
  <%=link_to 'Add Bug', new_project_bug_path, class: 'btn btn-primary mt-3 ml-3 mb-2' %>
<% end %>
<table class='table'>
  <tr>
    <th scope='col'>
      Title
    </th>
    <th scope='col'>
      Deadline
    </th>
    <th scope='col'>
      Assigment
    </th>
    <th scope='col'>
      Bug
    </th>
    <th scope='col'>
      Completion Status
    </th>
    <th scope='colspan'>
    </td>
  </tr>
  <% @bug.each do |bug| %>
    <tr scope='row'>
      <td>
        <%=bug.title %>
      </td>
      <td>
        <%=bug.deadline %>
      </td>
      <td>
        <% if bug.developer_id.nil? %>
          Not Assigned
        <% else %>
          Assigned
        <% end %>
      </td>
      <td>
        <%=image_tag bug.image, width: '100px' %>
      </td>
      <td>
        <% if current_user.role=='developer' %>
          <% if bug.developer_id.nil?%>
            <%= link_to 'Asign Bug', project_bug_path(@project.id, bug.id),:method=> :put, class: 'btn btn-primary mt-3 ml-3 mb-2' %>
          <% else %>
            Completed
          <% end %>
        <% else %>
          <% if bug.developer_id.nil?%>
            NOT Completed
          <% else %>
            Completed
          <% end %>
        </td>
      <% end %>
    <% end %>
